.center {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

img{max-width:100%;}

#img2	{
	width: 100%;
	height: auto;
}

#info p {
	text-align: justify;
}

#info h4 {
	text-align: center;
}

